.card-container {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0 0 20rem;
    z-index: 1; /* Genellikle negatif z-index sorunlara yol açabilir */
   
  }
  
  .card {
    border: 2px solid #ededed;
    padding: 20px;
    cursor: pointer;
    background-color: #3d3737; /* Kartların arka plan rengi beyaz olabilir */
    box-shadow: 0 4px 8px rgba(165, 90, 90, 0.1); /* Hafif gölge ekleyebilirsiniz */
    border-radius: 20px; /* Köşeleri yuvarlatabilirsiniz */
    width: 20rem;

  }
  
  .card-img-top {
    
    margin-bottom: 1rem;
    border-radius: 8px; /* Görünüm için resim köşelerini yuvarlatabilirsiniz */
    background-color: transparent;

  }
  
  .card-title {
    margin-bottom: 1rem;
    font-size: 1.2rem; /* Başlık font büyüklüğünü ayarlayabilirsiniz */
    font-weight: bold; /* Başlığı vurgulamak için kalın yapabilirsiniz */
    color: #bdb2b2;
  }
  
  .card-reviews {
    margin-bottom: 1rem;
    display: flex;
    align-items: center; /* Yıldızları ve yorumları hizalayın */color: #bdb2b2;
  }
  
  .rating-star {
    color: #d5ab55;
    margin-right: 2px; /* Yıldızlar arasına boşluk ekleyebilirsiniz */
  }
  
  .total-reviews {
    font-size: 0.9rem;
    margin-left: 10px;
  }
  
  .card-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ddd9d9;
  }
  
  .bag-icon {
    color: #c3c1c1;
    font-size: 1.2rem; /* İkonun boyutunu ayarlayabilirsiniz */
  }
  
  @media (max-width: 768px) {
    .card-container {
      margin-left:5rem; /* Mobil görünümde margin değerini azaltabilirsiniz */
     
    }
    
    .card {
      margin: 10px;
      padding: 15px;
      margin-left: 150px;
    }
    
    .card-img {
      width: 100%; /* Resimleri tam genişlikte yapabilirsiniz */
      
    }
    
    .card-price {
      flex-direction: column; /* Fiyatları dikey olarak düzenleyebilirsiniz */
    }
    @media (max-width: 750px) {
      .card-container {
        margin: 19rem; /* Mobil görünümde margin değerini sıfırladık */
        flex-direction: column; /* Kartları dikey sıralama */
        align-items: center; /* Kartları ortalamak için */
       width: 20rem;
       margin-top: 5rem;
      }
    
      .card {
        margin: 10px 0; /* Üst ve alt margin */
        padding: 15px;
        width: 90%; /* Kartların genişliği mobil görünümde %90 olacak */
      }
    
      .card-img-top {
        width: 100%; /* Resimleri tam genişlikte yapabilirsiniz */
      }
    
      .card-price {
        flex-direction: column; /* Fiyatları dikey olarak düzenleyebilirsiniz */
        align-items: flex-start; /* Fiyatları sola hizalayın */
      }
    }
  }
    